<h2 class="m-3">Búsqueda de Países</h2>
<hr>

<ul>
  <li class="border border-solid p-3 bg-slate-100 mt-4" routerLink="countries/by-capital"
    routerLinkActive="bg-slate-700 text-white" [routerLinkActiveOptions]="{exact: true}">Por capital</li>
  <li class="border border-solid p-3 bg-slate-100 mt-4" routerLink="countries/by-country"
    routerLinkActive="bg-slate-700 text-white" [routerLinkActiveOptions]="{exact: true}">Por país</li>
  <li class="border border-solid p-3 bg-slate-100 mt-4" routerLink="countries/by-region"
    routerLinkActive="bg-slate-700 text-white" [routerLinkActiveOptions]="{exact: true}">Por región</li>
</ul>
