<h2 class="m-3">Búsqueda de Países</h2>
<hr>

<ul>
  <li class="border border-solid p-3 bg-slate-100 mt-4" routerLink="home" routerLinkActive="bg-slate-700"
    [routerLinkActiveOptions]="{exact: true}">Home Page</li>
  <li class="border border-solid p-3 bg-slate-100 mt-4" routerLink="about" routerLinkActive="bg-slate-700"
    [routerLinkActiveOptions]="{exact: true}">About Page</li>
  <li class="border border-solid p-3 bg-slate-100 mt-4" routerLink="contact" routerLinkActive="bg-slate-700"
    [routerLinkActiveOptions]="{exact: true}">Contact Page</li>
</ul>